<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AvisRoyale</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>AvisRoyale</h1>
</header>
<main>
    <div class="content">
        <h2>Bienvenue dans AvisRoyale</h2>
        <p>Un site web qui permet de donner des avis sur les cartes de Clash Royale, de commenter les avis des autres et de discuter entre utilisateur.</p>
        <button>Connexion</button>
    </div>
</main>
<footer>
    AvisRoyale.
</footer>
</body>
</html>
