<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" >
</head>
<body>
<footer>
    <p>Réalisé par: Kindy Ariste et Fabrice Zigy Marie Etienne</p>
    <div>
        <p>En cas de problème, contactez nous sur:</p>
        <a href="mailto:avisRoyale@gmail.com" title="Cliquer pour nous envoyer un courriel."><i class="fa-regular fa-envelope"></i></a>
    </div>
</footer>
</body>
</html>