<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page utilisateur</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" >
</head>
<body>
<div th:include="entete"></div>

<main>
<!--    <div class="connexionUtilisateur">-->
<!--        <h1>Connexion utilisateur</h1>-->
<!--        <div class="forms">-->
<!--            <form>-->
<!--                <p>Créer un compte</p>-->
<!--                <label>Nom:</label>-->
<!--                <input type="text" placeholder="Nom">-->
<!--                <label>Prénom:</label>-->
<!--                <input type="text" placeholder="Prénom">-->
<!--                <label>Adresse courriel:</label>-->
<!--                <input type="email" placeholder="Adresse courriel">-->
<!--                <label>Mot de passe:</label>-->
<!--                <input type="password" placeholder="Mot de passe">-->
<!--                <label>Confirmer le mot de passe:</label>-->
<!--                <input type="password" placeholder="Mot de passe à nouveau">-->
<!--                <button title="Création du compte.">Créer</button>-->
<!--            </form>-->
<!--            <form>-->
<!--                <p>Se connecter</p>-->
<!--                <label>Adresse courriel:</label>-->
<!--                <input type="email" placeholder="Adresse courriel">-->
<!--                <label>Mot de passe:</label>-->
<!--                <input type="password" placeholder="Mot de passe">-->
<!--                <button title="Se connecter.">Connexion</button>-->
<!--            </form>-->
<!--        </div>-->
<!--        <a th:href="@{/ConnexionAdministrateur}" title="Connexion administrateur.">Connexion Administrateur <i class="fa-solid fa-right-long"></i></a>-->
<!--    </div>-->

    <div class="backEndUtilisateur">
        <nav>
            <a href="" class="navSelectionne" title="Cliquer pour voir les cartes."><i class="fa-solid fa-diamond"></i> Les cartes</a>
            <a href="" title="Cliquer pour voir la liste des utilisateurs."><i class="fa-solid fa-users"></i> Liste des autres utilisateurs</a>
            <a href="" title="Cliquer pour voir la messagerie."><i class="fa-solid fa-comment-dots"></i> Messagerie</a>
        </nav>
<!--        <section class="selectionUtilisateur">-->
<!--            <h1>Listes des autres utilisateurs</h1>-->
<!--            <form class="user-search-form">-->
<!--                <input type="text" placeholder="Rechercher un utilisateur">-->
<!--                <button type="submit" title="Cliquer pour trouver l'utilisateur.">Rechercher</button>-->
<!--            </form>-->
<!--            <div class="sectionScrollable">-->
<!--                <div class="listeUtilisateur">-->
<!--                    <div>-->
<!--                        <p>Nom et prénom</p>-->
<!--                        <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->

<!--        <section class="selectionUtilisateur">-->
<!--            <h1>Evoyer un message à:</h1>-->
<!--            <form class="user-search-form">-->
<!--                <input type="text" placeholder="Rechercher un utilisateur">-->
<!--                <button type="submit" title="Cliquer pour trouver l'utilisateur.">Rechercher</button>-->
<!--            </form>-->
<!--            <div class="sectionScrollable">-->
<!--                <div class="listeUtilisateur">-->
<!--                    <div>-->
<!--                        <p>Nom et prénom</p>-->
<!--                        <a href=""><i class="fa-regular fa-message"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->

<!--        <section class="selectionUtilisateur">-->
<!--            <h1>Mes cartes</h1>-->
<!--            <form class="user-search-form">-->
<!--                <input type="text" placeholder="Rechercher une carte">-->
<!--                <button type="submit"  title="Cliquer pour trouver la carte.">Rechercher</button>-->
<!--            </form>-->
<!--            <div class="sectionScrollable">-->
<!--                <div class="listeCartes">-->
<!--                    <div class="carte" title="Cliquer pour voir la carte.">-->
<!--                        <img th:src="@{/images/logoCr.jpeg}" alt="Photo de la carte">-->
<!--                        <div class="carte-info">-->
<!--                            <h3>Nom de la carte</h3>-->
<!--                            <p>Type de carte</p>-->
<!--                            <p>Rareté de carte</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Répétez les éléments de la carte pour chaque carte &ndash;&gt;-->
<!--                    <div class="carte" title="Cliquer pour voir la carte." data-id="1" data-name="Nom de la Carte 1" data-type="Type de Carte 1" data-image="/images/logoCr.jpeg" data-details="Détails de la carte 1" onclick="openModal(this)">-->
<!--                        <img th:src="@{/images/logoCr.jpeg}" alt="Photo de la carte">-->
<!--                        <div class="carte-info">-->
<!--                            <h3>Nom de la carte</h3>-->
<!--                            <p>Type de carte</p>-->
<!--                            <p>Rareté de carte</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->

        <section class="selectionUtilisateur">
            <h1>Les cartes de X Y</h1>
            <form class="user-search-form">
                <input type="text" placeholder="Rechercher une carte">
                <button type="submit"  title="Cliquer pour trouver la carte.">Rechercher</button>
            </form>
            <div class="sectionScrollable">
                <div class="listeCartes">
                    <div class="carte" title="Cliquer pour voir la carte.">
                        <img th:src="@{/images/logoCr.jpeg}" alt="Photo de la carte">
                        <div class="carte-info">
                            <h3>Nom de la carte</h3>
                            <p>Type de carte</p>
                            <p>Rareté de carte</p>
                        </div>
                    </div>
                    <!-- Répétez les éléments de la carte pour chaque carte -->
                    <div class="carte" title="Cliquer pour voir la carte." data-id="1" data-name="Nom de la Carte 1" data-type="Type de Carte 1" data-image="/images/logoCr.jpeg" data-details="Détails de la carte 1" onclick="openModal(this)">
                        <img th:src="@{/images/logoCr.jpeg}" alt="Photo de la carte">
                        <div class="carte-info">
                            <h3>Nom de la carte</h3>
                            <p>Type de carte</p>
                            <p>Rareté de carte</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</main>

<div class="modal" id="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="division-modal">
            <div class="partie-modal">
                <div class="division-detail">
                    <div>
                        <img id="modal-image" src="/images/logoCr.jpeg" alt="Image de la carte">
                        <div class="carte-details">
                            <h2 id="modal-name"></h2>
                            <p id="modal-type"></p>
                            <p>Rareté de carte</p>
                            <br>
                        </div>
                    </div>
                    <div class="detail">
                        <h3>Détail:</h3>
                        <p id="modal-details"></p>
                    </div>
                </div>
                <div class="add-comment">
                    <h3>Ajouter votre avis:</h3>
                    <textarea placeholder="Écrire l'avis..."></textarea>
                    <button>Ajouter</button>
                </div>
            </div>
            <div class="partie-modal">
                <div class="comments-section">
                    <h3>Commentaire:</h3>
                    <!-- Example response -->
                    <div class="response">
                        <p><strong>Utilisateur:</strong> Commentaire...</p>
                    </div>
                    <!-- Add more responses as needed -->
                    <form class="add-Comment">
                        <input type="text" placeholder="Ajouter commentaire">
                        <button type="submit" title="Cliquer pour ajouter commentaire.">Commenter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="pied"></div>
</body>
<script th:src="@{/javascript/scriptFenetre.js}"></script>
</html>